/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

option, select {
    min-width: 130px;
}

button {
    min-width: 100px;
}

.fill-area{
    width: 100%;
}

thead {
    background-color: #d9d9d9;
    background-image: linear-gradient(to right, #d9d9d9, #b5b5b5);
}

.High {
    background-image: linear-gradient(to right, #f58c8c, #aa382c);
}

.Normal {
    background-image: linear-gradient(to right, #ffe381, #c28456);
}

.Low {
    background-image: linear-gradient(to right, #ccfa96, #83a45c);
}

.btn-primary {
    background-image: linear-gradient(to bottom right, #3288df, #1b6ec2);
}

.btn-primary:hover {
    background-image: linear-gradient(to bottom right, #1b6ec2, #023971);
    border-color: #023971;
    color: white;
}

.btn-light, .btn-danger {
    background-image: linear-gradient(to bottom right, #f8f9fa, #e0e0e0);
}

.btn-light:hover {
    background-image: linear-gradient(to bottom right, #5f666e, #343a40);
    color: #FFFFFF;
}

.btn-danger:hover {
    background-image: linear-gradient(to bottom right, #d92411, #98190b);
    color: #FFFFFF;
}




